.divider {
    font-size: 30px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    color: rgb(129, 128, 128);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 550;
    
  }
  
  .divider::before, .divider::after {
    flex: 1;
    content: '';
    padding: 0.8px;
    background-color: rgb(209, 209, 209);
    margin: 5px;
  }


  

  
.full-container {
    width: 500px;
}

.gc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 100px; */
  }

  .gc .list-group-item {
    border: none;
  }

  .custom-icon {
    margin-right: 10px; /* Adjust the margin as needed for spacing */
    color: rgb(3, 198, 198);
  }